.filters {
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	position: relative;
	background-color: #FFFFFF;
}
.filters button {
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -24px;
	height: 48px;
	width: 20%;
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	border: 0;
	border-radius: 4px;
}
.filters button:hover {
	opacity: 90%;
}
.filters div:first-of-type {
	border-right: solid 1px #DDDDDD;
}

.locations, .locations + .amenities {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	height: 100%;
	width: 25%;
	padding: 1.3em 0 1.3em 3em;
}
.locations h3, .amenities h3 {
	font-weight: 600;
	margin: 0;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;

}
.locations:hover .popover, .amenities:hover .popover {
	display: block;	
}
.popover {
	position: absolute;
	display: none;
	box-sizing: border-box;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	list-style: none;
	background-color: #FAFAFA;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.popover h2 {
	font-size: 16px;
	margin: 25px 0 0 -0.9em;
}
.popover li:first-child h2 {
	margin-top: 0;
}
.popover ul {
	list-style: none;
	padding-left: 10px;
}
